.wrapper {
  border-radius: 8px;
  box-shadow: 0 0 9px 1px #ddd;
  padding: 15px 9px;
  box-sizing: border-box;
  background: #fff;
  .avatar {
    width: 75px;
    height: 75px;
    border-radius: 5px;
  }
}
