.wrapper {
  border-radius: 8px;
  box-shadow: 0 0 9px 1px #ddd;
  padding: 15px 9px;
  box-sizing: border-box;
  background: #fff;
  .avatar {
    // width: 75px;
    // height: 75px;
    border-radius: 5px;
  }
  .tags{
    .tag{
      font-size: 11px;
      color: #999;
      padding: 3px 4px;
      border: 1px solid #D2D2D2;
      display: inline-block;
      margin-right: 10px;
      &:nth-last-of-type(1){
        margin-right: 0;
      }
    }
  }
}
