
@import '../styles/theme.less';
:global{
  
  //搜索框
  .search-input{
    height: 34px;
    line-height: 34px;
    border-radius: 17px;
    padding-left:39px;  
    color: #B1B1B0;
    box-sizing: border-box;
    border: none;
   }
   .vr-input{
    height: 34px;
    line-height: 34px;
    border-radius: 17px;
    color: #B1B1B0;
    box-sizing: border-box;
    border: none;
   }

   .vr-input-search{
    padding-left:39px;
    background-image: url('../assets/images/订单列表/搜索.png');
    background-repeat: no-repeat;
    background-position:14px center;
   }

}
